<?xml version="1.0" encoding="UTF-8"?>

<web-app
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	
	<!-- Notre classe écrit dans servlet-class peut être juste résumer en un nom ci-dessous Servlet1 
	<servlet>
		<servlet-name>ComputerListServlet</servlet-name>
		<servlet-class>com.excilys.servlets.ComputerListServlet</servlet-class>
	</servlet>
	
	Redirection vers la classe Servlet ComputerListServlet 
	et ça serait la méthode doGet qui sera appeler
	<servlet-mapping>
		<servlet-name>ComputerListServlet</servlet-name>
		<url-pattern>/dashboard.html</url-pattern>
	</servlet-mapping> -->
	
</web-app>